# python3 -m venv venv
# source venv/bin/activate
# pip install -r requirements.txt

Flask==3.0.3
Flask-SocketIO==5.3.4
eventlet==0.33.3

# gevent==23.9.0      # вместо eventlet
# gevent-websocket==0.10.1